body {
  font-family: sans-serif;
}

.patient > div > ul {
  margin: 5px;
  border: 1px solid black;
}

li {
  margin: 5px 0;
}

form {
  margin: 20px 0;
}

span {
  margin: 20px;
}

.patient {
  margin-bottom: 10px;
}
